body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
   
}

.main{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.flesh, .steel{
    display:flex;
    flex-direction: column;
    align-items: center;
}
button{
    padding: 25px;
    font-family: 'Press Start 2P', cursive;
    
}
.header{
    align-self: center;
}

.mvm{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    margin-bottom: 0px;
}

.results{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#man{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 0px -20%;
}
.player_lives, .comp_lives{
    font-size: 30px;
    padding: 0px 0px 0px 31px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    min-height: 35px;
    margin: 15px;
}
.comp_lives{
    align-self: flex-end;
}
#robot{
    object-fit: cover;
    width: 300px;
    height: 250px;
    object-position: 0px -15%;
}
.action_box{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
.player_choice, .comp_choice{
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 40px 40px
}
.round_results{
    text-align:center;
}